.cart-page {
    padding: 20px;
}

.cart-content {
    display: flex;
    gap: 20px;
    max-width: 1150px;
}

.cart-items {
    flex: 2;
    gap: 1rem;
}


.cart-summary {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}

.cart-item {
    display: flex;
    gap: 2rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.book-thumbnail {
    width: 80px;
    height: auto;
}

.book-details {
    flex: 2;
}

.book-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}