.toggle-button-outside {
    position: absolute;
    top: 45rem;
    right: 7rem;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.toggle-button:hover {
    background-color: #0056b3;
}

.right-pane {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 999;
}

.right-pane.open {
    right: 0;
}

.right-pane.closed {
    right: -300px;
}

.pane-content {
    padding: 20px;
}

.pane-content h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    height: 10rem;
}

li {
    height: 3rem;
    font-size: 30px;
    border-bottom: #213547 2px solid;
    gap: 1rem;
}