.footer {
    background-color: #8fb9ed;
    color: black;
    padding: 1em 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 1rem;
}

.footer-section a {
    text-decoration: none;
    margin: 0 .5rem;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer p {
    margin: 5px 0;
}

.btm-banner {
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("src/assets/texture-1909992_1280.webp");
}

.img-btm-banner {
    height: 30vw;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}